.faq-section{
    background: rgb(22,30,45);
    background: linear-gradient(45deg, rgba(22,30,45,1) 16%, rgba(51,0,102,1) 50%, rgba(22,30,45,1) 84%);
    min-height: 100vh;
    padding: 80px 60px;
    min-width: 100%;
    
}

@media (max-width: 576px) {
    .faq-section {
        padding: 80px 10px 30px 10px;
    }

  }
 