.events-section {
    background: rgb(22,30,45);
    background: linear-gradient(-60deg, rgba(22,30,45,1) 16%, rgba(51,0,102,1) 50%, rgba(22,30,45,1) 84%);
    min-height: 100vh;
    padding: 80px;
    min-width: 100%;
}

.event-title{
    font-size: 44px;
    font-weight: 600;
}

.event-desc{
    padding-left: 40px;
}

@media (max-width: 576px) {
    .events-section {
        padding: 80px 15px;
    }

    .event-title{
        font-size: 36px;
        font-weight: 600;
    }

    .event-desc{
        padding-left: 15px;
    }
    
    .noEvents-tag{
        font-size: 30px;
    }   
    
  }


.noEvents-tag{
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    color: #fff;
}